<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Amazing Game</title>
    <style></style>
  </head>
  <body class="pt-2">
    <div class="navbar bg-neutral rounded-lg mb-2 max-w-[30rem] mx-auto">
      <div class="navbar-start">
        <a class="btn btn-ghost text-xl" href="/">Game</a>
      </div>
      <div class="navbar-end">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/players">Players</a></li>
          <li><a href="/scores">Scores</a></li>
          <li><a href="/leaderboard">Leaderboard</a></li>
        </ul>
      </div>
    </div>
    <div class="max-w-[30rem] mx-auto">{% block content %}{% endblock %}</div>
  </body>
</html>
