{% extends "base.html" %} {% block content %}
<div class="text-lg mb-5 px-2 breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li>Leaderboard</li>
  </ul>
</div>

<div  class="h-40 px-2">
  <table class="table w-full">
    <tr>
      <th>Id</th>
      <th>Player Id</th>
      <th>Score</th>
    </tr>
    {% for score in scores %}
    <tr class="hover">
      <td>{{ score.id }}</td>
      <td>{{ score.player_id }}</td>
      <td>{{ score.score }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
