{% extends "base.html" %} {% block content %}
<div class="text-lg mb-5 px-2 breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li>Not implemented</li>
  </ul>
</div>

<div class="h-40 px-2">
  <h2 class="text-lg font-bold">Not implemented yet</h2>
  <p>It seems, that we have have lazy devs!</p>
</div>

{% endblock %}
