{% extends "base.html" %} {% block content %}
<div class="text-lg mb-5 px-2 breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li>Users</li>
  </ul>
</div>

<div class="h-40 px-2">
  <table class="table w-full">
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
    {% for player in players %}
    <tr class="hover">
      <td>{{ player.id }}</td>
      <td>{{ player.username }}</td>
      <td>{{ player.email }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
